.examples-landing {
  display: flex;
  flex-direction: column;
  width: 1786px;
  align-items: flex-start;
  position: relative;
  background-color: var(--color-background-default-default);
}

.examples-landing .hero-image {
  display: flex;
  flex-direction: column;
  height: 173px;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-800);
  padding: var(--size-space-4000) var(--size-space-600) var(--size-space-4000)
    var(--size-space-600);
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: var(--color-background-utilities-scrim);
  background-image: url(./img/hero-image.png);
  background-size: cover;
  background-position: 50% 50%;
}

.examples-landing .text-content-title {
  align-items: center;
  margin-top: -139.50px;
  margin-bottom: -139.50px;
  display: inline-flex;
  flex-direction: column;
  gap: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
}

.examples-landing .title {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--title-hero-font-family);
  font-weight: var(--title-hero-font-weight);
  color: var(--color-text-utilities-text-on-overlay);
  font-size: var(--title-hero-font-size);
  text-align: center;
  letter-spacing: var(--title-hero-letter-spacing);
  line-height: var(--title-hero-line-height);
  font-style: var(--title-hero-font-style);
}

.examples-landing .subtitle {
  position: relative;
  align-self: stretch;
  font-family: var(--subtitle-font-family);
  font-weight: var(--subtitle-font-weight);
  color: var(--color-text-utilities-text-on-overlay);
  font-size: var(--subtitle-font-size);
  text-align: center;
  letter-spacing: var(--subtitle-letter-spacing);
  line-height: var(--subtitle-line-height);
  font-style: var(--subtitle-font-style);
}

.examples-landing .panel-image-double {
  position: relative;
  width: 1127px;
  height: 736px;
  background-color: var(--color-background-default-default);
  opacity: 0.8;
  gap: var(--size-space-1200);
}

.examples-landing .camdenmap {
  position: absolute;
  width: 535px;
  height: 1086px;
  top: 173px;
  left: 1165px;
  object-fit: cover;
}

.examples-landing .card-grid-icon {
  display: flex;
  flex-direction: column;
  width: 1127px;
  align-items: flex-start;
  gap: var(--size-space-1200);
  padding: var(--size-space-1600);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--color-background-default-default);
}

.examples-landing .text-content-heading {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
}

.examples-landing .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--heading-font-size);
  letter-spacing: var(--heading-letter-spacing);
  line-height: var(--heading-line-height);
  font-style: var(--heading-font-style);
}

.examples-landing .subheading {
  position: relative;
  align-self: stretch;
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  color: var(--color-text-default-secondary);
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  font-style: var(--subheading-font-style);
}

.examples-landing .cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--size-space-1600);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.examples-landing .card {
  display: flex;
  flex-wrap: wrap;
  width: 301.33px;
  align-items: flex-start;
  gap: var(--size-space-600);
  position: relative;
}

.examples-landing .info {
  position: relative;
  width: 32px;
  height: 32px;
}

.examples-landing .body {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  align-items: flex-start;
  gap: var(--size-space-400);
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.examples-landing .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-space-200);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.examples-landing .body-text-for {
  position: relative;
  align-self: stretch;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-default-secondary);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  font-style: var(--body-base-font-style);
}

.examples-landing .div {
  display: flex;
  flex-wrap: wrap;
  min-width: 240px;
  align-items: flex-start;
  gap: var(--size-space-600);
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.examples-landing .IMG {
  position: absolute;
  width: 983px;
  height: 565px;
  top: 269px;
  left: 67px;
  object-fit: cover;
}

.examples-landing .circle {
  position: absolute;
  width: 102px;
  height: 169px;
  top: 889px;
  left: 1500px;
}

.examples-landing .linear-determinate {
  position: absolute;
  width: 1065px;
  height: 337px;
  top: 738px;
  left: 64px;
}

.examples-landing .track-and-stop {
  display: flex;
  width: 1065px;
  align-items: center;
  padding: 0px 0px 0px 2px;
  position: relative;
  top: 163px;
  background-color: #76ddf2;
}

.examples-landing .track {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 12px;
}

.examples-landing .track-2 {
  position: relative;
  width: 1063px;
  height: 4px;
  top: 4px;
  background-color: #76ddf2;
  border-radius: 8px;
}

.examples-landing .stop {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 4px;
  left: 1061px;
  background-color: #65558f;
  border-radius: 26px;
}
